{% extends "base.html" %}
{% block content %}
    <div id="field">
        <table align="center">
            <tr>
                <td><h3>Name:</h3></td>
                <td><h3>{{ user.name }}</h3></td>
            </tr>
            <tr>
                <td><h3>Email:</h3></td>
                <td><h3>{{ user.email }}</h3></td>
            </tr>
             <tr>
                <td><h3>Lastname:</h3></td>
                <td><h3>{{ user.lastname }}</h3></td>
            </tr>
        </table>
</div>
{% endblock %}